﻿/* [6. HEADER] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* 6.1 - Header base */
.main-header {
    height: 100%;
    /* min-height: 100%; */

    .header-content {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        font-size: 1.8vw;
    }

    h1 {
        font-weight: 800;
        font-size: 1.8em;
        margin-bottom: 0.7em;
    }

    .hilite {
        color: $color-hilite;
        text-shadow: 0px 0px 3px $overlay-black;
    }

    .color-overlay {
        background-color: $overlay-black;
        height: 100%;
        min-height: 100%;
    }

    .container {
        height: 100%;
        transform-style: preserve-3d;
    }

    .mockup {
        max-width: 50%;
        position: absolute;
        transition: all 0.3s;

        &.mockup-front {
            z-index:     2;
            right: 30%;
            top: 90px;
        }

        &.mockup-back {
            z-index: 1;
            right: 0;
        }
    }

    p {
        margin: 15px 0;
        font-size: 0.85em;
        line-height: 1.3em;
        font-style: italic;
        font-weight: 300;
    }

    .simple-button {
        background: transparent;
        border-radius: 4px;
        color: $header-button-color;
        border: 2px solid $header-button-color;
        font-weight: 700;
        margin-top: 25px;
        min-width: 130px;
        padding: 12px 25px;
        text-decoration: none;
        transition: all 0.3s ease 0s;
        display: inline-block;
        font-size: $font-size-base;
    }

    @media (max-width: $screen-xs-max) {
        .header-content {
            font-size: 3.2vw;

            p {
                font-size: 1em;
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        .mockup {
            display: none;
        }
    }

    @media (max-height: $header-start-xs-auto-height) , (max-width: $header-start-xs-auto-width) {
        height: auto;

        .header-content {
            transform: translateY(0);
            padding: 20px 0;
        }
    }

    @media (max-height: $header-start-xs-auto-height) and (min-width: $grid-float-breakpoint) {
        .header-content {
            padding-top: $navbar-min-height;
        }
    }

    @media (max-height: $header-start-height-hidden) {
        .hidden-xs {
            display: none;
        }
    }
}
