/* 6.2 - Fullscreen image header */
.image-header {
    &:before {
        background: $header-bg url("../img/header/image-header-5.jpg") center center / cover no-repeat;
        content: "";
        display: block;
        filter: blur(5px);
        height: 100%;
        left: 0;
        position: fixed;
        right: 0;
        z-index: -1;
    }

    .header-content {
        color: $header-content-color;
    }
}
