/* 6.4 - Solid color header */

.solid-header {
    background: $solid-background-color;
    background-image: linear-gradient(135deg, $solid-background-color 60%, $solid-light-color, $solid-background-color);

    .header-content {
        color: $header-content-color;
    }
}
