/* 6.3 - Typed header */

.typed-header {
    &:before {
        background: $header-bg url("../img/header/image-header-1.jpg") center center / cover no-repeat;
        content: "";
        display: block;
        filter: blur(5px);
        height: 100%;
        left: 0;
        position: fixed;
        right: 0;
        z-index: -1;
    }

    .header-content {
        color: $header-content-color;
        text-align: center;

        h2 {
            margin: 30px 0;

            @media (max-width: $screen-xs-max) and (orientation: landscape) {
                margin: 0;
            }
        }

        .typed-features {
            font-weight: 700;
        }
    }
}

// Typed cursor
.typed-cursor {
    opacity: 1;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
