/* 6.5 - Fullscreen video header */

body {
    background-color: $video-background-color;
}

.video-header {
    background-color: $video-background-color;

    .header-content {
        color: $header-content-color;
    }
}
