/* 8.3 About section */
#about {
    background-color: $light-background;
}

#whyus {
    background-color: $pallete-4;

    .section-content {
        color: $pallete-0;
    }

    .icon-list {
        margin: 0;

        li {
            margin: 0 0 25px 0;
            padding: 0 15px;

            i {
                min-width: 64px;
            }

            @media (max-width: $screen-sm-max) {
                float: left;
                max-width: 33%;

                > * {
                    display: block;
                    text-align: center;
                }

                i {
                    margin: 20px 0;
                }
            }

            @media (max-width: $screen-xs-max) {
                max-width: 100%;
                padding: 0;
            }
        }

        @media (max-width: $screen-sm-max) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    p {
        margin: 0 0 20px 0;
        line-height: 1.6;
    }

    .devices-wrapper {
        position: relative;

        img {
            max-width: 95%;
            height: auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            margin: 6em auto;
            z-index: 10;
            filter: grayscale(0.7);
            transition: all 0.3s;

            &.device-bottom {
                position: relative !important;
            }

            &.floating {
                animation: floating 4s ease-in-out infinite;
                filter: none;
            }

            @media (max-width: $screen-sm-max) {
                max-height: 480px;
                margin: 0 auto;

                &.device-bottom {
                    margin-bottom: 60px;
                }
            }
        }
    }
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(0, 10px);
    }
    to {
       transform: translate(0, -0px);
    }
}
