/* 8.8 Contact us section */
#contactus {
    .us {
        margin-bottom: 30px;
    }

    .form-control {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .icon-list {
        li {
            i {
                vertical-align: super;
                line-height: 1.5;
            }

            span {
                display: block;
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        .contact-right {
            padding-top: 60px;
        }
    }
}
