#counters {
    text-align: center;
    background: $counter-bg-color url(../img/patterns/1.png);

    .counter {
        border: 1px solid $counter-icon-color;
        border-bottom: 1px solid transparent;
        border-radius: 50%;
        font-size: $counter-icon-size;
        margin: 0 auto;
        position: relative;
        text-align: center;
        height: $counter-size;
        line-height: $counter-size;
        width: $counter-size;
        transition: all 0.3s;

        &:after {
            top: 0;
            left: 0;
            padding: 0;
            z-index: -1;
            box-shadow: 0 0 0 2px rgba($counter-icon-color, 0.1);
            opacity: 0;
            transform: scale(0.95);
        }

        &:hover {
            border-color: $counter-hover-color $counter-hover-color transparent $counter-hover-color;
            transform: scale(0.95);

            i {
                color: $counter-hover-color;
            }
        }
    }

    h3 {
        font-size: 48px;
        font-weight: 800;
        margin-top: 0.75em;
    }

    p {
        color: $counter-p-color;
        font-weight: 300;
        margin: 10px auto 0;
    }

    i {
        color: $counter-icon-color;
        opacity: 0.75;
        position: absolute;
        bottom: 0;
        left: calc(50% - (#{$counter-icon-size / 2}));
    }

    @media (max-width: $grid-float-breakpoint) {
        .col + .col {
            margin-top: 60px;
        }
    }
}
