/* 8.4 Features section */
#features {
    .feature {
        position: relative;
        padding: 0 0 $feature-margin-top 0;

        > * {
            position: relative;
            display: table-cell;
            vertical-align: middle;
        }

        .feature-icon {
            padding-right: 15px;

            i {
                color: $feature-icon-color;
                font-size: $feature-font-size;
                border: 1px solid $feature-icon-color;
                border-radius: 50%;
                width: $feature-icon-size;
                height: $feature-icon-size;
                line-height: $feature-icon-size;
                text-align: center;
                transition: background 0.3s ease 0s, color 0.3s ease 0s;

                &:after {
                    top: 0px;
                    left: 0px;
                    z-index: -1;
                    transition: transform 0.2s, opacity 0.2s;
                    content: "";
                    border: 1px solid $feature-icon-color;
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    border-radius: 50%;
                }
            }
        }

        h4 {
            transition: color 0.3s ease 0s;
            margin-bottom: 2px;

            + small {
                font-size: $feature-legend-font-size;
                color: $feature-legend-color;
                display: block;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
        }

        &.feature-highlight {
            .feature-icon {
                i {
                    color: $feature-icon-color-hover;
                    background-color: $feature-icon-color;
                }
            }
        }

        &:hover {
            .feature-icon {
                i {
                    transform: scale(0.9);
                    color: $feature-icon-color-hover;
                    background-color: $feature-icon-color;

                    &:after {
                        transform: scale(1.1);
                    }
                }
            }

            h4 {
                color: $feature-icon-color;
            }
        }

        @media (max-width: $screen-sm-max) {
            .feature-icon {
                display: block;
                margin-bottom: 20px;
                float: none !important;
            }

            > * {
                display: block;
                text-align: center;
            }
        }
    }

    .features-left {
        margin-top: $feature-margin-top;
        text-align: right;

        > .feature {
            .feature-icon {
                float: right;
                padding-right: 0;
                padding-left: 15px;
            }
        }
    }

    .features-center {
        text-align: center;
        margin: 0 auto;

        img {
            width: 100%;
            max-width: 250px;
            height: auto;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.02);
            }
        }
    }

    .features-right {
        margin-top: $feature-margin-top;
        text-align: left;

        > .feature {
            .feature-icon {
                float: left;
            }
        }
    }
}
