/* 8.6 Screenshots section */
#screenshots {
  background-color: $light-background;

  #screenshots-slides {
    img {
      display: block;
      height: auto;
      margin: 2rem auto;
      width: 98%;
      transition: all 0.3s;
      box-shadow: 0 1px 3px 1px $overlay-black;
      position: relative;
      filter: grayscale(0.85);

      @media (max-width: $screen-xs-max) {
        width: 80%;
      }

      &:hover {
        transform: scale(1.02);
        filter: none;
        z-index: 20;
      }
    }
  }
}