﻿/* [8. PAGE SECTIONS] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* 8.1 - Section general styles */
section, .section {
    background-color: $section-default-bg;
    position: relative;

    .container,
    .container-fluid {
        padding-top: $section-padding;
        padding-bottom: $section-padding;
    }

    h4 {
        font-weight: 700;
        margin: 0 0 10px 0;
    }

    .section-heading {
        margin-bottom: $section-heading-margin;
        position: relative;

        h2 {
            font-size: 3em;
            font-weight: $section-heading-font-weight-bold;
            color: $section-heading-color-light;
            margin: 20px 0;
        }

        h5, p {
            font-weight: $section-heading-font-weight;
            color: $html-text-color;
            margin-bottom: 0;
        }

        &,
        &.light {
            @include section-heading($section-heading-color-light);
        }

        &.dark {
            @include section-heading($section-heading-color-dark);

            &:after {
                background-color: $section-heading-color-dark;
            }
        }

        &:after {
            background-color: $section-divider-bg;
            display: block;
            content: "";
            width: 22px;
            height: 1px;
            margin: 20px auto;
        }

        &.center {
            text-align: center;

            &:before {
                @include center-block();
            }
        }
    }

    &.dark {
        color: $color-white;
    }

    &.narrow {
        .container,
        .container-fluid {
            padding-top: $section-narrow-padding;
            padding-bottom: $section-narrow-padding;
        }
    }

    form.expanded {
        margin: 40px 0;

        .form-control {
            margin-bottom: 10px;
            margin-top: 10px;

            &:not(textarea) {
                height: 50px;
            }
        }
    }
}

/* 8.2 - Parallax effect */
section {
    &.parallax {
        .container {
            -webkit-backface-visibility: hidden;
            position: relative;
            z-index: 1000;
        }

        .btn {
            position: relative;
            z-index: 1;
        }
    }
}

/* [END 8. PAGE SECTIONS] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
