.social-icons {
    margin: $section-heading-margin 0 0 0;

    > li {
        display: inline-block;
        margin: 0 5px;
    }

    i {
        color: $section-social-icons-color;
        box-shadow: 0px 0px 2px 0px $section-social-icons-color;
        font-size: 1.3em;
    }
}
