/* 8.7 Testimonials section */
#testimonials {
    background-image: url(../img/section/testimonials.jpg);
    color: $testimonial-color;

  .testimonial-item {
      padding: 0 60px;
      position: relative;

      &:before,
      &:after {
          font-family: $font-family-awesome;
          position: absolute;
          font-size: 2.25em;
          opacity: 0.5;
          margin: 0 2px;
      }

      &:before {
          content: "\f10d";
          left: 0;
          top: 0;
      }

      &:after {
          content: "\f10e";
          bottom: 0;
          right: 0;
      }
  }

  .testimonial-image {
    background: transparent none repeat scroll 0 0;
    border: 1px solid $testimonial-color;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    padding: 4px;
    width: 100px;

    img {
      border-radius: 50%;
      width: 100%;
    }
  }

  .testimonial-message {
        font-size: 1.5em;
        font-style: italic;
        margin: 60px 0;
        padding: 30px 60px;
        font-weight: $testimonial-font-weight;

      p {
          margin: 0;
      }
  }

    .bubble {
        background-clip: padding-box;
        border: 1px solid $testimonial-border-color;
        background-color: rgba($testimonial-border-color, 0.05);
        border-radius: 2px;
        position: relative;
    }

  .testimonial-author {
    margin-top: 10px;
    text-shadow: 1px 1px 3px #222;
      font-weight: 100;

    b {
        color: $testimonial-hilite;
        font-weight: $testimonial-bold-weight;
        font-size: 1em;
        background-color: rgba($testimonial-color, 0.85);
        padding: 0 5px;
        border-radius: 2px;
        text-shadow: none;
    }
  }

    @media (max-width: $screen-xs-max) {
        .testimonial-item {
            padding: 0;
        }

        .testimonial-message {
            padding: 15px;
        }
    }
}
