.toast {
    text-align: left !important;
}

.image-header:before {
    background: url(../images/image-header-5.jpg) center center/cover no-repeat #62d7c8;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
}

.letter:first-child {
    animation: fade 3s infinite 200ms;
    -webkit-animation: fade 3s infinite 200ms;
}

.letter:nth-child(2) {
    animation: fade 3s infinite 400ms;
    -webkit-animation: fade 3s infinite 400ms;
}

.letter:nth-child(3) {
    animation: fade 3s infinite 600ms;
    -webkit-animation: fade 3s infinite 600ms;
}

.letter:nth-child(4) {
    animation: fade 3s infinite 800ms;
    -webkit-animation: fade 3s infinite 800ms;
}

.letter:nth-child(5) {
    animation: fade 3s infinite 1000ms;
    -webkit-animation: fade 3s infinite 1000ms;
}

.letter:nth-child(6) {
    animation: fade 3s infinite 1200ms;
    -webkit-animation: fade 3s infinite 1200ms;
}

.letter:nth-child(7) {
    animation: fade 3s infinite 1400ms;
    -webkit-animation: fade 3s infinite 1400ms;
}

.letter:nth-child(8) {
    animation: fade 3s infinite 1600ms;
    -webkit-animation: fade 3s infinite 1600ms;
}

.letter:nth-child(9) {
    animation: fade 3s infinite 1800ms;
    -webkit-animation: fade 3s infinite 1800ms;
}

.navbar-brand .logo.t.pull-right {
    padding-top: 9px;
    padding-left: 10px;
}

a.navbar-brand {
    padding-top: 7px;
}

.section .container,
.section .container-fluid,
section .container,
section .container-fluid {
    //    padding-top: 0px;
    //    padding-bottom: 0px;
}

img.img-mask {
    position: absolute;
    top: 0px;
    left: 0px;
}

.feature-carousel {
    width: 250px;
    margin: 0px auto;
}

#features .features-center .item img {
    width: 233px;
    display: block;
    margin: 51px auto;
}

.main-header p {
    font-size: 1em;
}

.item-page:before {
    background: url(../images/patterns/1.png) #edf1f5;
    //    -webkit-filter: blur(5px);
    //    filter: blur(5px);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
}

#counters {
    background: none;
}

.item-page {
    .counter:hover {
        border-color: #fe263a #fe263a transparent;
        transform: scale(.95);
    }
    .counter {
        border: 1px solid #7E8189;
        border-bottom: 1px solid transparent;
        border-radius: 50%;
        font-size: 24px;
        margin: 0 auto;
        position: relative;
        text-align: center;
        height: 150px;
        line-height: 150px;
        width: 150px;
        transition: all .3s;
        h3 {
            font-size: 48px;
            font-weight: 800;
            margin-top: 70px;
        }
        p {
            color: #7E8189;
            font-weight: 300;
            margin: 0px;
            line-height: normal;
        }
    }
    @media (min-width: 992px) {
        .counter {
            width: 400px;
            height: 400px;
            margin-top: 30px;
            h3 {
                font-size: 176px;
                margin-top: 0.6em;
            }
            .desc {
                margin-top: 60px;
            }
        }
    }
    @media (max-width: 991px) {
        //         padding-top: 91px;
    }
    @media (max-width: 991px) {
        .counter {
            height: 300px;
            width: 300px;
            margin-top: 25px;
            h3 {
                font-size: 160px;
                margin-top: .3em;
            }
            .desc {
                margin-top: 50px;
                p {
                    font-size: 17px;
                }
            }
        }
    }
}

.has-menu {
    @media (min-width: 992px) {
        padding-top: 91px;
    }
    //   padding-top:70px;
}

.captcha {
    padding: 0px;
    img {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    input[type="text"] {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin-top: -1px;
    }
}

.nav.locales {
    li:first-child:before {
        display: none;
    }
    li:before {
        content: " ";
        display: table;
        width: 1px;
        height: 10px;
        position: absolute;
        background: #FFF;
        top: 25px;
    }
}

.navbar-sticky {
    .nav.locales {
        li:before {
            background: #7596b7;
        }
    }
}