/* [1. BASE STYLES] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* 1.1 - Basic Styles */

.page-wrapper, html, body {
    height: 100% !important;
    min-height: 100% !important;
    width: 100%;
}

html {
    line-height: 1.5;
    color: $html-text-color;
    background-color: $html-background-color;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body {
    font-family: $font-family-template;
    font-weight: $font-weight-default;
    overflow-x: hidden;

    @media (max-width: $grid-float-breakpoint) /*and (max-height: $header-start-body-padding)*/ {
        padding-top: $navbar-collapsed-min-height;
    }
}

a {
    &, &:focus, &:active {
        outline: 0 !important;
        text-decoration: none;
    }
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

/* 1.2 - Browser Upgrade Prompt  */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*[END 1. Base styles]~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
