/* [3. GENERAL CONTENT STYLES] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* 3.1 - Global styles */
.logo {
    color: $color-logo;

    &.t {
        font-family: $logo-font-family;
        font-size: 26px;
    }

    &.logo-sm {
        height: $logo-height * 22/100;
    }

    &.logo-md {
        height: $logo-height * 33/100;
    }

    &.logo-lg {
        height: $logo-height * 75/100;
    }

    &.logo-xl {
        height: $logo-height;
    }
}

.text-sm {
    font-size: 0.8em;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-border {
    border: none !important;
}
 .pos-relative {
     position: relative;
 }

.image-cover {
    position: relative;
    background-attachment: scroll;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.parallax {
    background-attachment: fixed !important;
    position: static !important;
}

.row.align-middle {
    @media (min-width: $screen-md-min) {
        display: flex;
        flex-direction: row;

        > [class^="col-"],
        > [class*=" col-"] {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

/* 3.2 - Backgrounds & overlays */
@each $i, $color in $color-pallete {
    &.bg-#{$i} {
        background-color: $color;
    }
}

.color-overlay,
.gradient-overlay,
.overlay {
    background: $overlay-black none repeat scroll 0 0;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    z-index: 0;

    @each $i, $color in $color-pallete {
        &.overlay-#{$i} {
            background-color: rgba($color, $alpha-25) !important;

            &.alpha-50 {
                background-color: rgba($color, $alpha-50) !important;
            }

            &.alpha-75 {
                background-color: rgba($color, $alpha-75) !important;
            }
        }
    }

    &.dotted {
        background: rgba(0, 0, 0, 0) url("../img/overlay/dots.png") repeat scroll 0 0;
    }

    &.squared {
        background: rgba(0, 0, 0, 0) url("../img/overlay/grid.png") repeat scroll 0 0;
    }
}
/* [END 1. GENERAL CONTENT STYLES] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
