﻿/* [9. FOOTER] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#site-footer {
    overflow: hidden;
    background: $footer-bottom-bg radial-gradient($footer-bottom-gradient, $footer-bottom-bg);
    padding: 20px 0;
    text-align: center;

    a {
        &:hover {
            text-decoration: none;
        }
    }

    .brand {
        color: $footer-brand-color;
    }

    .logo-a {
        margin-bottom: $section-heading-margin;
        display: block;
    }

    .logo {
        margin: 0 auto;

        &.t {
            font-size: 48px;
            color: darken($footer-bottom-bg, 12%);
            text-shadow: 0px 2px 5px rgba(lighten($footer-bottom-bg, 15%), 0.45);
            opacity: 0.4;
        }
    }

    p {
        color: $footer-color;
        padding: 5px 0;
    }

    .copyright {
        margin: $footer-margin-top 0;
    }

    ul {
        margin: $footer-margin-top 0 0;
    }

    hr {
        border-top-color: lighten($footer-bottom-bg, 5%);
    }

    .footer-phrase {
        font-weight: 300;
        font-size: 1.5em;
    }

    .social-icons {
        > li {
            display: inline-block;
            margin: 0 5px;
        }

        i {
            box-shadow: 0px 0px 0px 2px $section-social-icons-color;
            font-size: 0.95em;

            &:hover {
                background-color: $section-social-icons-color;
            }
        }
    }
}
/* [END 9. FOOTER] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
