/* [4. FORM] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* 4.1 - Buttons */
.btn {
    transition: background-color 0.3s;
    border-radius: 2px;

    &.btn-download {
        background: $button-download-bg none repeat scroll 0 0;
        display: inline-block;
        overflow: hidden;
        text-align: left;
        color: $button-download-color;
        font-size: 0.83em;
        min-width: 178px;

        i,
        span {
            display: table-cell;
            vertical-align: middle;
        }

        i {
            font-size: 22px;
            padding-right: 10px;
        }

        b {
            font-weight: 700;
            position: relative;
            z-index: 2;
            display: block;
        }

        &:hover {
            background-color: $button-download-bg-hover;
        }

        &.btn-lg {
            height: 70px;

            i {
                font-size: 32px;
            }

            b {
                font-size: 20px;
            }
        }
    }
}

.submit-wrapper {
    float: right;
}

.btn-submit {
    @include button-variant($btn-submit-color, $btn-submit-bg, $btn-submit-border);
}

/* 4.2 - Form controls */
form {
    .row:last-child {
        margin-top: 20px;
    }

    .form-control {
        box-shadow: none !important;
        @include form-control-focus($form-control-focus-color);

        &.error {
            border-color: $error-border-color;
            color: $error-input-color;
        }

        &.valid {
            border-color: $input-valid-border-color;
        }
    }

    label {
        &.error {
            background-color: $error-border-color;
            color: $error-label-color;
            border: 1px solid $error-label-border-color;
            padding: 3px 5px;
            width: 100%;
            font-size: 0.8em;
            font-style: italic;
            position: relative;
            border-radius: $input-border-radius;

            &:before,
            &:after {
                bottom: 100%;
                left: 10%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:before {
                border-color: rgba(189, 80, 80, 0);
                border-bottom-color: $error-label-border-color;
                border-width: 9px;
                margin-left: -9px;
            }

            &:after {
                border-color: rgba(216, 92, 92, 0);
                border-bottom-color: $error-border-color;
                border-width: 8px;
                margin-left: -8px;
            }
        }
    }

    .alert {
        b, strong {
            display: inline-block;
        }

        i {
            margin: 0 8px;
        }
    }

    .checkbox {
        float: left;
    }

    @media (max-width: $screen-xs-max) {
        .checkbox, .submit-wrapper {
            float: none;
            text-align: center;
        }

        .submit-wrapper {
            margin-top: 30px;
        }
    }
}
/* [END 4. FORM] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
