/* [7. ICONS] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* 7.1 - General styles */
*[class*="fa-"] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    margin-right: 5px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 7.2 - Social icons */
.has-circle {
    display: inline-block;
    min-width: 2em;
    min-height: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
}

.facebook:hover {
    color: $facebook;
}

.twitter:hover {
    color: $twitter;
}

.googleplus:hover {
    color: $googleplus;
}

.youtube:hover {
    color: $youtube;
}

.linkedin:hover {
    color: $linkedin;
}

.instagram:hover {
    color: $instagram;
}

.whatsApp:hover {
    color: $whatsApp;
}

.pinterest:hover {
    color: $pinterest;
}

.vine:hover {
    color: $vine;
}

.snapchat:hover {
    color: $snapchat;
}

.quora:hover {
    color: $quora;
}

.dropbox:hover {
    color: $dropbox;
}

.flickr:hover {
    color: $flickr;
}

.tumblr:hover {
    color: $tumblr;
}

.vk:hover {
    color: $vk;
}

.vimeo:hover {
    color: $vimeo;
}

.foursquare:hover {
    color: $foursquare;
}

.spotify:hover {
    color: $spotify;
}

.github:hover {
    color: $github;
}

.behance:hover {
    color: $behance;
}

.rss:hover {
    color: $rss;
}

.social-icon {
    &,
    & i {
        color: $color-icon;
        transition: all 0.4s ease;

        &:not(.has-circle) {
            padding: 5px;
        }
    }
}

/* 7.3 - Icons list */
.icon-list {
    margin: 1.5rem 0;

    li {
        margin-top: 15px;

        i {
            padding-right: 15px;
        }

        > * {
            display: table-cell;
            vertical-align: middle;
        }

        /*&:first-child {
            margin-top: 0;
        }*/
    }

    &.icon-list-md {
        i {
            font-size: $icon-md-size;
        }
    }

    &.icon-list-lg {
        i {
            font-size: $icon-lg-size;
        }
    }
}
/* [END 7. ICONS] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
