
.page-wrapper.light {
    .main-header {
        .hilite {
            text-shadow: 0px 0px 3px $overlay-light;
        }

        .color-overlay {
            background-color: $overlay-light;
        }

        p, h1, .simple-button {
            color: $header-color-on-light;
        }

        .simple-button {
            border-color: $header-color-on-light;
        }
    }

    #main-navigation {
        li {
            a {
                color: $header-color-on-light;
            }

            a:hover,
            a:focus {
                @include navbar-active($navbar-link-light-hover-color, $navbar-link-light-hover-color);
            }
        }
    }
}
