// Mixins

@mixin navbar-active($color, $shadow) {
    color: $color !important;
    background-color: transparent;
    /* box-shadow: inset 0 -1px 0 0 $shadow; */
}

@mixin section-heading ($color) {
    color: $color;

    h2, h3 {
        color: $color;
    }

    h4, h5, h6, p {
        color: $color;
    }
}
