﻿/* [5. NAVBAR] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#main-navigation {
    transition: all 0.4s ease 0s;
    padding: 15px 0;
    min-height: $navbar-min-height;
    /* height: auto; */

    li {
        a {
            color: $navbar-default-color;
            font-size: 0.8em;
            letter-spacing: 1px;
            padding: 20px;
            margin-bottom: -1px;
            text-transform: uppercase;
        }

        a:hover,
        a:focus,
        &.active a {
            @include navbar-active($navbar-link-hover-color, $navbar-link-hover-color);
        }
    }

    .navbar-brand {
        height: $navbar-collapsed-min-height;
    }

    /*5.1 - Navbar sticky*/
    &.navbar-sticky {
        position: fixed;
        background: $navbar-bg;
        left: 0;
        top: 0;
        border-bottom: 1px solid $color-default-shadow;
        box-shadow: 0 0 5px $color-default-shadow;

        li {
            a {
                color: $navbar-sticky-color;
            }

            a:hover,
            a:focus,
            &.active a {
                @include navbar-active($navbar-sticky-color-hover, $navbar-sticky-color-hover);
            }
        }
    }

    /*5.2 - Navbar responsive behavior*/
    @media (max-width: $grid-float-breakpoint) {
        padding: 0;
        min-height: $navbar-collapsed-min-height;

        &.navbar-sticky {
            .navbar-header {
                background-color: transparent;
            }
        }

        .navbar-header {
            background-color: $navbar-bg-xs-color;
        }

        .navbar-toggle {
            margin: 0;
            padding: 0 20px;
            min-height: $navbar-collapsed-min-height;

            .icon-bar {
                background-color: $navbar-toggle-color;
                height: 1px;

                + .icon-bar {
                    margin-top: 6px;
                }

                &:hover {
                    background-color: $navbar-toggle-hover-color;
                }
            }

            &.collapsed {
                .icon-bar {
                    background-color: $navbar-toggle-color;
                }
            }
        }

        &.navbar-fixed-top {
            .navbar-collapse {
                height: 100%;
                max-height: 100%;
                background-color: $navbar-collapse-bgcolor;
            }
        }

        li {
            a {
                color: $navbar-sticky-color;
            }

            a:hover,
            a:focus,
            &.active a {
                color: $navbar-sticky-color-hover !important;
                box-shadow: none !important;
            }
        }

        .container {
            width: 100%;
        }
    }

    @media (max-width: $screen-xs-max) and (orientation: landscape) {
        li {
            float: left;
            width: 50%;

            a {
                padding: 10px 15px;
            }
        }
    }
}
/* [END 5. NAVBAR] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
