/* [12. NIVO SLIDER] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.nivo-lightbox-body-effect-fade {
    .page-wrapper {
        filter: blur(5px);
    }
}

.nivo-lightbox-theme-default .nivo-lightbox-image img {
    border: 3px solid $color-white;
}

.nivo-lightbox-theme-yalp {
    &.nivo-lightbox-overlay {
        background: #f1f1f1;
        background: rgba(255, 255, 255, 0.6);
    }

    .nivo-lightbox-content.nivo-lightbox-loading {
        animation: fa-spin 2s infinite linear;
        font-family: $font-family-awesome;
        content: "\f110";
    }

    .nivo-lightbox-nav,
    .nivo-lightbox-close {
        font-family: $font-family-linearicons;
        opacity: 0.5;
        text-decoration: none;
        color: transparent;
    }

    .nivo-lightbox-nav {
        top: 10%;
        width: 8%;
        height: 80%;

        &:hover {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.35);
        }

        &:before {
            position: absolute;
            top: calc(50% - 16px);
            left: calc(50% - 16px);
            font-size: 1.8em;
            color: $nivo-nav-icon-color;
        }
    }

    .nivo-lightbox-prev {
        border-radius: 0 3px 3px 0;

         &:before {
             content: "\e875";
         }
    }

    .nivo-lightbox-next {
        border-radius: 3px 0 0 3px;

        &:before {
            content: "\e876";
        }
    }

    .nivo-lightbox-close {
        display: block;
        padding: 5px;
        font-size: 2em;

        &:hover {
            opacity: 1;
        }

        &:before {
            position: absolute;
            right: 0;
            color: $nivo-nav-icon-color;
            content: "\e870";
        }
    }

    .nivo-lightbox-title-wrap {
        bottom: -7%;
    }

    .nivo-lightbox-title {
        font-style: normal;
        font-weight: normal;
        background: #000;
        color: #fff;
        padding: 7px 15px;
        border-radius: 30px;
    }

    .nivo-lightbox-image img {
        background: #fff;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    }

    .nivo-lightbox-ajax,
    .nivo-lightbox-inline {
        background: #fff;
        padding: 40px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    }
}
/* [END 12. NIVO SLIDER] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */