/* [2. PRELOADER] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#front-loader {
    background: $loader-bg radial-gradient($loader-bg-gradient, $loader-bg);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1106;
    margin: 0px;
    display: table;

    #loader {
        display: table-cell;
        text-align: center;
        vertical-align: middle;

        .letter {
            font-size: 48px;
            color: $loader-color;
            position: relative;
            text-shadow: 0px 1px 2px lighten($loader-color, 10%);
        }

        .letter:nth-child(1) {
            animation: fade 3s infinite 200ms;
        }

        .letter:nth-child(2) {
            animation: fade 3s infinite 400ms;
        }

        .letter:nth-child(3) {
            animation: fade 3s infinite 600ms;
        }

        .letter:nth-child(4) {
            animation: fade 3s infinite 800ms;
        }
    }
}

@keyframes fade {
    50% {
        opacity: 0.02;
    }
}

/* [END 2. PRELOADER] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
