/* [10. PRICING TABLE] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.pricing {
    text-align: center;
    width: 100%;
    margin: 0 auto 3em;

    .pricing-item {
        position: relative;
        text-align: center;
        display: inline-block;
        float: none;
        padding: 2em 0;
        cursor: default;

        &:not(:last-child) {
            margin-right: -1*$caret-width-large;
        }
    }

    .lnr {
        font-size: 2.8em;
        transition: color 0.3s;
    }

    p {
        margin-bottom: 40px;
        font-style: italic;
    }

    .pricing-feature-list {
        text-align: left;
        font-weight: 300;

        b {
            font-weight: 600;
        }

        li {
            margin: 10px 0;
        }
    }

    .btn-pricing,
    .btn-lg {
        font-size: $font-size-base;
        font-weight: 300;
        margin-top: auto;
        padding: 1em 2em;
        color: inherit;
    }

    .btn-pricing {
        border: none;

        &:focus {
            outline: none;
        }
    }
}

.pricing-on-light {
    .pricing-item {
        /* min-width: ($screen-md-min / $pricing-columns) - 12; */

        &.best-value {
            box-shadow:
                6px 0 10px -8px $pricing-best-value-shadow,
                -6px 0 10px -8px $pricing-best-value-shadow;
            background-color: $pricing-best-value-bg-color;
            font-size: 1.1em;
            z-index: 10;

            .pricing-price {
                background-color: $pricing-price-best-value !important;
                font-weight: 700;
            }
        }

        &:nth-child(2) {
            border-right: 1px solid $pricing-border-color;
            border-left: 1px solid $pricing-border-color;
        }

        &:hover .lnr {
            color: $pricing-hilite-color;
        }

        &:hover .pricing-anim {
            animation: move-up 0.4s forwards;
            animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        }

        &:hover .pricing-anim-2 {
            animation-delay: 0.05s;
        }
    }

    .pricing-title {
        margin-top: 1.5em;
    }

    .pricing-legend {
        margin: 0 0 1em 0;
        padding: 0 0 0.5em;
        color: $pricing-legend-color;
    }

    .pricing-price {
        font-size: 2.3em;
        font-weight: 700;
        margin-top: 0.5em;
        margin-bottom: 0.75em;
        padding: 15px 0;
        background-color: $pricing-price-bg;
        color: $pricing-price-color;
        overflow: hidden;
    }

    .pricing-anim {
        display: inline-block;
        position: relative;
    }

    .pricing-currency, small {
        font-size: 0.5em;
        vertical-align: super;
    }

    .pricing-currency {
        margin-right: 10px;
    }

    .pricing-time {
        font-size: 0.45em;
        color: $pricing-legend-color;
        font-weight: 300;
    }

    .pricing-feature-list {
        margin: 0;
        padding: 0.25em 0 2.5em;
        list-style: none;
        text-align: center;
        color: $pricing-features-color;

        .inactive-feature {
            color: $pricing-features-inactive-color;
            text-decoration: line-through;
        }
    }

    .btn-pricing {
        background: $pricing-hilite-color-light;
        color: $pricing-btn-color;
    }

    .btn-pricing:hover,
    .btn-pricing:focus {
        background-color: $pricing-hilite-color;
    }

    .lnr {
        color: $pricing-legend-color;
    }
}

@media (max-height: $header-start-xs-auto-height) {
    .btn-pricing, .btn-lg {
        margin: 15px 0;
    }
}

@keyframes move-up {
    50% { transform: translate3d(0,-100%,0); }
    51% { opacity: 0; transform: translate3d(0,-100%,0); }
    52% { opacity: 1; transform: translate3d(0,100%,0); }
    100% { transform: translate3d(0,0,0); }
}

/* [END 10. PRICING TABLE] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
