// FONTS
$font-family-template: "Open Sans", $font-family-base;
$font-family-awesome: "FontAwesome";
$font-family-linearicons: 'Linearicons-Free';
$logo-font-family: "Pacifico", $font-family-template;
$font-weight-default: 400;

$default: #FE3F51;
$default-a: #008ed6; //#23527c

$turquoise: #1ABC9C; //#51D1C4;
$turquoise-a: #636098; //#636098

$carrot: #E67E22; //#fcab53;
$carrot-a: #51D1C4;

$wisteria: #8E44AD; //#95519E;
$wisteria-a: #625c6c;

$sunflower: #00AE7B; //#EEAC00 - #F1C40F;
$sunflower-a: #0172C2;

$violet: #7877C1; //#818EDB;
$violet-a: #62d7c8;

// PALLETE LIGHT
$pallete-0: #ffffff;
$pallete-1: #e6ecf2;
$pallete-2: darken($pallete-1, 25.65%);

// default
/* */
$pallete-3: $default;
$pallete-4: $default-a;
/* */

/*
$pallete-3: $turquoise;
$pallete-4: $turquoise-a;
*/

/*
$pallete-3: $carrot;
$pallete-4: $carrot-a;
*/

/*
$pallete-3: $wisteria;
$pallete-4: $wisteria-a;
*/

/*
$pallete-3: $sunflower;
$pallete-4: $sunflower-a;
*/

/*
$pallete-3: $violet;
$pallete-4: $violet-a;
*/

$loader-bg: $pallete-4;
$loader-bg-gradient: lighten($loader-bg, 10%);
$loader-color : darken($loader-bg, 20%);

$color-pallete : (0: $pallete-0, 1: $pallete-1, 2: $pallete-2, 3: $pallete-3, 4: $pallete-4);
$color-hilite : $pallete-3;

//COLORS
$alpha-25: 0.25;
$alpha-50: 0.50;
$alpha-75: 0.75;

$color-white : #fff;
$color-logo : $pallete-3;
$color-logo-shadow : darken($pallete-3, 5%);
$color-icon : $color-white;
$color-default-shadow: rgba(0, 0, 0, 0.11);

$overlay-black: rgba(0, 0, 0, 0.7);
$overlay-light: rgba(255, 255, 255, 0.7);
$html-text-color: #7E8189;
$html-background-color: #fff;
$light-background: lighten($pallete-1, 7%);
$nivo-nav-icon-color : #000;

// FORM
$form-control-focus-color : $pallete-3;
$btn-submit-color: $pallete-0;
$btn-submit-bg: $pallete-3;
$btn-submit-border: darken($pallete-3, 5%);

// SOCIAL MEDIA COLORS
$facebook : #3b5998; //RGB: 59, 89, 152
$twitter : #55acee; //RGB: 85, 172, 238
$googleplus : #dd4b39; //RGB: 221, 75, 57
$youtube : #bb0000; //RGB: 187, 0, 0
$linkedin: #007bb5; //RGB: 0, 123, 181
$instagram : #125688; //RGB: 18, 86, 136
$whatsApp : #4dc247; //RGB: 77, 194, 71
$pinterest : #cb2027; //RGB: 203, 32, 39
$vine : #00bf8f; //RGB: 0, 191, 143
$snapchat : #fffc00; //RGB: 255, 252, 0
$quora : #a82400; //RGB: 168, 36, 0
$dropbox : #007ee5; //RGB: 0, 126, 229
$flickr : #ff0084; //RGB: 255, 0, 132
$tumblr : #32506d; //RGB: 50, 80, 109
$vk : #45668e; //RGB: 69, 102, 142
$vimeo : #aad450; //RGB: 170, 212, 80
$foursquare : #0072b1; //RGB: 0, 114, 177
$spotify : #00e461; //RGB: 0, 228, 97
$github : #000000; //RGB: 0, 0, 0
$behance : #1769ff; //RGB: 23, 105, 255
$rss : #ff6600; //RGB: 255, 102, 0

// SIZE
$font-size-xl : ceil(($font-size-base * 2.25)) !default; // ~32px
$font-size-xxl : ceil(($font-size-base * 3.45)) !default; // ~48px
$font-size-xxxl : ceil(($font-size-base * 4.5)) !default; // ~64px

//LOGO
$logo-height: 55px;

// NAVBAR
$navbar-bg : $pallete-0;
$navbar-link-hover-color: $pallete-0;
$navbar-default-color : darken($navbar-link-hover-color, 5%);
$navbar-sticky-color : darken($pallete-2, 8%);
$navbar-sticky-color-hover : $pallete-3;
$navbar-toggle-color : $pallete-2;
$navbar-toggle-hover-color : darken($pallete-2, 10%);
$navbar-min-height : 90px;
$navbar-collapsed-min-height : 60px;
$navbar-collapse-bgcolor: $pallete-0;
$navbar-bg-xs-color : $navbar-collapse-bgcolor;
$navbar-link-light-hover-color: darken(#111, 10%);
$grid-float-breakpoint : $screen-md-min;

// HEADER
$header-bg: $pallete-4;
$header-content-color: $pallete-0;
$header-caption-size : $font-size-h1 ;
$header-caption-xs-size : $font-size-h3;
$header-start-xs-auto-width: $screen-xs - 1; //$grid-float-breakpoint; // 480px - 1
$header-start-xs-auto-height: 379px; // 380 - 1
$header-start-body-padding: 599px; // 600 - 1
$header-start-height-hidden: 479px; // 480 - 1
$header-button-color : $pallete-0;
$header-color-on-light : #111;
$header-button-color-on-light: $header-color-on-light;

// SECTIONS
$section-default-bg : $html-background-color;
$section-padding: 120px;
$section-narrow-padding: $section-padding / 2;
$section-heading-margin: 60px;
$section-heading-font-weight-light : 300;
$section-heading-font-weight : 400;
$section-heading-font-weight-bold : 600;
$section-heading-color-light : #0e1217;
$section-heading-color-dark : $pallete-0;
$section-divider-bg : darken($html-text-color, 10%);
$section-social-icons-color : $pallete-0;
$section-social-bg-color : lighten($pallete-1, 5.8%);

// FOOTER
$footer-bottom-bg: darken($pallete-4, 10%);
$footer-bottom-gradient: lighten($footer-bottom-bg, 15%);
$footer-color : $pallete-0;
$footer-logo-shadow: darken($pallete-2, 0.5);
$footer-brand-color: lighten($footer-bottom-bg, 40%);
$footer-margin-top : ($section-heading-margin/2);

// BUTTON
$button-download-color : $color-white;
$button-download-bg : #000;
$button-download-bg-hover : lighten($button-download-bg, 15%);

// PRICING TABLES
$pricing-btn-color: $pallete-0;
$pricing-hilite-color: $pallete-3;
$pricing-hilite-color-light: lighten($pricing-hilite-color, 10%);
$pricing-legend-color: darken($pallete-2, 5%);
$pricing-price-best-value: $pallete-1;  // best value ribbon
$pricing-border-color: darken($pricing-price-best-value, 15%);
$pricing-price-color: $pallete-4;
$pricing-price-bg: lighten($pallete-1, 2%); // price ribbon
$pricing-best-value-bg-color : lighten($pallete-1, 6%); // best value col bg color
$pricing-best-value-clear-shadow: rgba($pricing-price-best-value, 11%);
$pricing-best-value-shadow: rgba(darken($pallete-1, 50%), 0.5);
$pricing-features-color : lighten($html-text-color, 3%);
$pricing-features-inactive-color : lighten($pricing-features-color, 12%);
$pricing-columns : 3;

// SCREENSHOTS
$screenshots-bg : $light-background;

// WIDGET
$widget-bg : $pallete-0;
$widget-bg-hover : lighten($pallete-1, 5%);
$widget-border-color : $pallete-1;
$widget-border-color-hover : lighten($pallete-2, 8%);
$widget-icon-bg : $pallete-3;
$widget-icon-hover-bg: darken($widget-icon-bg, 8%);
$widget-icon-color : $pallete-0;
$widget-icon-size : 72px;

//ICONS
$icon-lg-size : 3.5rem;
$icon-md-size : 1.5rem;

// FEATURES
$feature-margin-top : 45px;
$feature-title-color : darken($pallete-1, 60%);
$feature-icon-color : $pallete-4;
$feature-icon-color-hover: $body-bg;
$feature-font-size : $icon-lg-size;
$feature-icon-size : $widget-icon-size;
$feature-legend-font-size : 0.8em;
$feature-legend-color : lighten($html-text-color, 5%);

//TESTIMONIALS
$testimonial-hilite : darken($pallete-4, 5%);
$testimonial-color : $pallete-0;
$testimonial-border-color: rgba($testimonial-color, 0.3);
$testimonial-font-weight: 400;
$testimonial-bold-weight: 800;

// ERRORS
$error-border-color : #D85C5C;
$error-input-color : #EBB3BC;
$error-label-color : $color-white;
$error-label-border-color: darken($error-border-color, 20%);
$input-valid-border-color : #44B449;

// HEADER
$solid-background-color : $pallete-4;
$solid-light-color: lighten($pallete-4, 15%);
$video-background-color : transparent;

// COUNTERS
$counter-bg-color : lighten($pallete-1, 2%); // #ebf1f7
$counter-p-color: $html-text-color;
$counter-icon-color: $counter-p-color;
$counter-hover-color: darken($pallete-3, 5%);
$counter-size: 150px;
$counter-icon-size: 24px;
