/* [11. PANEL WIDGET] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.widget {
    .widget-icon {
        text-align: center;
        margin: 0 auto;
        padding: 0 0 2em 0;

        i {
            font-size: $icon-lg-size;
            display: inline-block;
            margin: 0 30px 20px 30px;
            width: $widget-icon-size;
            height: $widget-icon-size;
            line-height: $widget-icon-size;
            border-radius: 50%;
            text-align: center;
            position: relative;
            z-index: 1;
            color: $widget-icon-color;
            background: $widget-icon-bg;
            transition: background 0.3s ease 0s, color 0.3s ease 0s;

            &:after {
                top: 0;
                left: 0;
                padding: 0;
                z-index: -1;
                box-shadow: 0 0 0 2px rgba($widget-icon-hover-bg, 0.5);
                opacity: 0;
                transform: scale(0.9);
                border-radius: 50%;
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
            }
        }
    }

    &.widget-icon-text {
        padding: 0 0 20px 0;
        position: relative;
        text-align: center;
        transition: all 0.3s ease 0s;

        .widget-icon {
            width: 100%;
        }

        .widget-text-inner {
            .widget-text-readmore {
                margin-top: 25px
            }
        }

        &.shaped {
            background: $widget-bg none repeat scroll 0 0;
            border: 1px solid $widget-border-color;

            &:hover {
                background-color: $widget-bg-hover;
                border-color: $widget-border-color-hover;
            }
        }

        &:hover {
            .widget-icon {
                i {
                    background: $widget-icon-hover-bg;

                    &:after {
                        animation: sonar 1.3s ease-out 75ms;
                    }
                }
            }
        }

        @media (max-width: $grid-float-breakpoint) {
            padding-bottom: 45px;
        }
    }
}

@keyframes sonar {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba($widget-icon-hover-bg, 0.1), 0 0 10px 10px $widget-icon-hover-bg, 0 0 0 10px rgba($widget-icon-hover-bg, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba($widget-icon-hover-bg, 0.1), 0 0 10px 10px $widget-icon-hover-bg, 0 0 0 10px rgba($widget-icon-hover-bg, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

/* [END 11. PANEL WIDGET] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
